{% extends "template.html" %}

{% block My_title %}
    ToDo Page
{% endblock %}

{% block content %}
<h2>ToDo List content</h2>
<form method = "post">
{% csrf_token %}
    {{form.as_p}}
<!--    <input type="text" placeholder="ToDo Title" > <br>-->
<!--    <textarea placeholder="ToDo Description"></textarea> <br>-->
<!--    <label for = "date">Deadline</label> <br>-->
<!--    <input type="date" id = "date"> <br>-->
    <button type = "submit"> Add Item </button>
</form>
<!--{{ todo_list }}-->
<button><a href="delete_all/">delete all</a></button>


{% for todo in todo_list %}
<div style="border:1px solid black">
    <h2>{{todo.title }}</h2>
    <p>{{todo.description}}</p>
    <button><a href="delete/{{ todo.id }}">delete</a></button>
    <button><a href="update/{{ todo.id }}">update</a></button>
</div>
{% endfor %}
{%endblock%}